<h1>Editing word</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
 <p>
    <%= f.label :punct %><br />
    <%=
		f.select :punct,
					Word::PUNCT_LIST,
					:prompt => "Select punctuation to follow this word"
	%>
  </p>
  <p>
    <%= f.label :word_order, "Order:" %><br />
    <%= f.text_field :word_order %>
  </p>
  <p>
    <%= f.label :word_type, "Type:" %><br />
    <%=
		f.select :word_type,
					Word::TYPES_LIST,
					:prompt => "Select type"
	%>
  </p>
  <p>
    <%= f.label :is_structure_Word %><br />
    <%=
		f.select :is_structure_Word,
					Word::IS_STRUCT,
					:prompt => "yes/no?"
	%>
  </p>
  <p>
    <%= f.label :quote_id %><br />
    <%= f.text_field :quote_id %>
  </p>  
  <p>
    <%= f.label :shoresh %><br />
    <%= f.text_field :shoresh %>
  </p>
  
  <p>
    <%= f.label :tense, "Verb Form:" %><br />
    <%=
		f.select :tense,
					Word::FORMS_LIST,
					:prompt => "Select form"
	%>
  </p>
<p>
    <%= f.label :binyan %><br />
    <%=
		f.select :binyan,
					Word::BINYAN_LIST,
					:prompt => "Select binyan"
	%>
  </p>
  <p>
    <%= f.label :pgn %><br />
    <%= f.text_field :pgn %>
  </p>
  <p>
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </p>
  <p>
    <%= f.label :meanings %><br />
    <%= f.text_area :meanings %>
  </p>
  <p>
    <%= f.label :translation %><br />
    <%= f.text_field :translation %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @word %> |
<%= link_to 'Back', words_path %>